<div class="wrapper">
  <app-author-form></app-author-form>

  <div class="card">
    <p-table
      [value]="authors"
      styleClass="p-datatable-gridlines"
      [tableStyle]="{ 'min-width': '60rem' }"
    >
      <ng-template pTemplate="caption">
        <div style="display: flex; justify-content: center">
          <div>Авторы</div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%">ID</th>
          <th pSortableColumn="lastName" style="width: 20%">
            Фамилия <p-sortIcon field="lastName"></p-sortIcon>
          </th>
          <th style="width: 20%">Имя</th>
          <th style="width: 20%">Отчество</th>
          <th style="width: 20%">Дата рождения</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-author>
        <tr>
          <td>{{ author.id }}</td>
          <td>{{ author.lastName }}</td>
          <td>{{ author.firstName }}</td>
          <td>{{ author.patronymic }}</td>
          <td>{{ author.dateOfBirth }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
